<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myclass.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true">
        <activity android:name=".student_categoties_list"></activity>
        <activity android:name=".student_test" />
        <activity android:name=".pdf" />
        <activity android:name=".testPdf" />
        <activity android:name=".testList" />
        <activity
            android:name=".video_player"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".student_profile" />
        <activity android:name=".student_homework" />
        <activity android:name=".student_material" />
        <activity android:name=".student_meet" />
        <activity android:name=".student_video" />
        <activity android:name=".student_notice" />
        <activity
            android:name=".student_home"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".student_login"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".search" />
        <activity android:name=".login_with_otp" />
        <activity android:name=".noticeList" />
        <activity android:name=".materialList" />
        <activity android:name=".homeworkList" />
        <activity android:name=".meetList" />
        <activity android:name=".videoList" />
        <activity android:name=".studentList" />
        <activity android:name=".classList" />
        <activity android:name=".profile" />
        <activity android:name=".home" />
        <activity
            android:name=".signup"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" /> <!-- first activity -->
        <activity
            android:name=".signin"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>